<!DOCTYPE html>
<html>
<head>

  {% load static %}
  <link rel="stylesheet" href="{% static 'api/welcome.css' %}">
  <link rel="stylesheet" href="{% static 'api/login.css' %}">
  <link rel="stylesheet" href="{% static 'api/signup.css' %}">


  <style>
    body {
        background-image: url('{% static "personal/media/background1.jpg" %}');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>
  </head>
<body>


  
  {% block content %}

  {% endblock content %}
  


  
</body>
</html>
